<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}DyPi{% endblock %}</title>
       <style>
        * {
            box-sizing: border-box;
            line-height: 1.6;
            font-size: 18px;
        }
        body {
            margin: 40px auto;
            max-width: 900px;
            line-height: 1.6;
            font-size: 18px;
            color: #444;
            padding: 0 20px;
        }
        h1,h2,h3,h4 {
            line-height: 1.2;
        }
        .flash {
            background: lightcoral;
            border: 2px solid red;
            margin: 0 0 1em;
            padding: 0.5em;
        }
    </style>
</head>
<body>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
</body>
</html>
